.section1 {
    background-color: gold;
    height: 400px;
    width: 50%;
    margin: 8px;
    border: 5px solid black;
    padding: 30px;
    box-sizing: border-box;
}

.section2 {
    background-color: silver;
    height: 400px;
    width: 50%;
    margin: 8px;

}