#section1 {
    background-color: aqua;
    float: left;
    margin: 8px;
}

#section2 {
    background-color: orange;
    float: left;
    margin: 8px;

}

#cleardiv {
    clear: both;
}

#section3 {
    background-color: pink;
}