.div1 {
    background-color: aqua;
    height: 100px;
    width: 300px;
    overflow: auto;

}

.tooltip .tooltip-text {
    visibility: hidden;
}

.tooltip:hover .tooltip-text {
    visibility: visible;

}